/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 janv. 2015, 10:35:27
    Author     : rambouju
*/

.style_filtre{
    background-color:#65B3B3;

    margin-right: 2%;
    margin-top:  2%;
    margin-left: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;    
    padding-top: 2%;    
    padding-left:5%;
    padding-right: 5%;
    
    width: 80%;
    height: 100%;
    font-family: Segoe UI;
    box-shadow: 3px 3px lightgray;
    color: white;
      overflow: hidden;
    
}
h1{
        font-size:18px;
}
.style_contenu_filtre{
    color: #65B3B3;
    width: 70%;
    padding-left: 2%;
    padding-top:  2%;
    padding-bottom: 2%;
    background-color: white;
    
    border-radius: 25px;

    float: left;
}

.left{
    float: left;
}

.style_boutons_recherche{
    width: 20%;
    float:right;
}

.style_recherche{
    font-family: Segoe UI;
    font-weight: bolder;
    width: 70%;

}
.style_tableau_resultat{    
    background-color: #7AD97A;
        box-shadow: 3px 3px lightgray;

}
